:root {
  --Primary-color: #e4dcd2;
  --primary-font: 'roboto slab', serif;
  --primary-font-weight: 200;
  --primary-font-size: 18px;
  --visited: #B010CE;
  --active-link: red;
  --button-primary: #357b70;
  --button-text: red;
}


body {
  background-color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: 1.6;
}



 * {
   box-sizing: border-box;
 }

header {border-bottom: 100px none;
}



 .page-header {
   display: flex;
   width: 100%;
   padding: 20px;
   border-bottom-color: #000;
   border-bottom-style: solid;
   border-bottom-width: 10px;

 }

 .page-header_item {
   flex: 0 1 200px;
 }

 .page-header_item:last-child {
   flex-grow: 1;
   text-align: right;
 }

 .navigation-list {
   list-style-type: none;
 }

 .navigation-list li {
   display: inline-block;
   margin-left: 15px;
 }


a:visited {
  /* visited link */
  color: var(--visited);
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--active-link);
}

.about {
  text-align: center;
}

.skills {
  margin-left: auto;
  margin-right: auto;
}

 .hometown{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#about {
  text-align: center;
}
#link {
  text-align: center;
  padding: 20px;
}


button,
.button  {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--button-primary);
  color: var(--button-text);
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;

}



button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile_portrait {
  float: left;
  width: 250px;
  max-width: 400px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}

* {
  box-sizing: border-box;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.grid {
  display: grid;
}

/* start grid fallback */
.grid__item {
 display: inline-block;
 width: 33%;
}
/* end grid fallback */

 @supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
   }
 }
  .grid__item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
   }


  @keyframes color-change {
      from {
        fill: #edc655;
      }
      to {
        fill: #f76414;
        }
      }

      .sun {
    animation: 4s color-change infinite alternate linear;
      }




/* this is considered a responsive class and usually goes at the end of the file. This particular media is used to adjust content based on smaller screeen size */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
